.myModal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
}
.myModal__content {
	background-color: white;
	border-radius: 50px;
	width: 400px;
	padding: 50px;
}
.myModal.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
